:root {
    --primary-color: #e866ec;
    --secondary-color: hsl(298, 37%, 60%);
    --background-gradient: linear-gradient(to bottom, #2b2b2b, #1c1c1c);
    --card-bg-color: #444;
    --text-color: #fff;
    --highlight-color: rgba(157, 22, 22, 0.2);
    --transition-duration: all 0.5s ease-in-out;

}

body {
    font-family:sans-serif;
    background: var(--background-gradient);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 10px;

}

header p {
    text-align: center;
    margin-bottom: 40px;
}

.snippet-container {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.snippet-card {
    background-color: var(--card-bg-color);
    padding: 10px;
    border-radius: 8px;
    border: 2px dotted white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow var(--transition-duration), transform var(--transition-duration);
    width: 90%;
    max-width: calc(33.333% - 20px);
    margin: 10px 10px;
    

    
}

.snippet-card:hover {
    box-shadow: 0px 8px 16px rgba(117, 25, 25, 0.7);
    transform: translateY(-10px);
}

.snippet-card h2 {

  
    position: relative;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%); 
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 66, 66);
    margin-top: 3px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--primary-color);

}
.snippet-card p{
    color:var(--primary-color);
}

pre {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    user-select: text;
    overflow-x: auto;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
    background:-webkit-linear-gradient(rgb(87, 11, 87),rgb(222, 115, 211))
    
}

@media (max-width: 992px) {
    .snippet-card {
        max-width: 75%;
        
      
    }

@media (max-width: 768px) {
    .snippet-card {
        
        flex-direction: column;
        
    }
}

.snippet-card:active{
    background-color: aqua;

}
footer {
    
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
    color: var(--primary-color);
}
}