:root {
    --main-color: #dc33e2;
    --secondary-color: #d148aa;
    --card-bg-color: #1e1212;
    --text-color: white;
    --highlight-color: grey;
   
}

body {
    font-family: Arial, sans-serif;
    background: var(--background-gradient);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: purple;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    color: #d148aa;
    margin-bottom: 40px;
    color: var(--main-color);
}

.snippet-container {
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
   
}

.snippet-card {
    background-color: var(--card-bg-color);
    padding: 20px;
    border: 4px dotted;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow var(--transition-duration), transform var(--transition-duration);
    width: 100%;
    max-width: calc(33.333% - 20px);
}
.snippet-card h2 {
    margin-top: 0;
    color: var(--main-color);
}

pre {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    user-select: text;
    overflow-x: auto;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}

footer {
    text-align: center;
    margin-top: 50px;
    color: var(--primary-color);
}

@media (max-width: 992px) {
    .snippet-card {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .snippet-card {
        max-width: 100%;
    }
}
