body{
    margin:auto;
    padding:0;
    background-color: blueviolet;
}
 p{
    font-size:x-large;
    border: red solid 2px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
 }
h1{
    color: beige;


}


.bio {
    max-width: 800px;
    height: 450px;
    margin: 20px ;
    font-size: 16px;
    color: burlywood;
    background-color: aqua;
  }

  .link{
    padding: 20px;
    margin: auto;
    color: brown;
    background-color:yellowgreen;
    border: 3px solid wheat
    
}

.a {
    display: inline-block;
    margin-right: 10px;
    color: #0077b5;
  }

  