.App main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.App h1 {
  text-align: center;
  font-size: 48px;
}

.App .controls {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
}

.App .controls button {
  font-size: 24px;
}
